<mat-toolbar color="success">
  <div><h1>Gestion Ventes</h1>
  </div>
</mat-toolbar>

<form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">
  <div class="row col-md-12">
    <div class="row">

      <div class="form-row col-sm-4 mb-3 mb-sm-0">
        <label><strong>Numéro Vente : </strong></label>
        <input type="text" class="form-control" formControlName="numeroVente" id="numeroVente" readonly>
      </div>

      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Status</label>
        <input type="text" formControlName="status" class="form-control" id="status">
      </div>
      <!--
      <div class="form-group col-sm-4 mb-sm-0">
        <label>Date</label>
        <input  type="date"  class="form-control" formControlName="dateVente"  id="dateVente">
      </div> -->
    </div>
  <!--</div> -->

    <!-- Debut Ligne de commandes -->
    <table class="table table-borderless">
      <thead class="thead-light">
        <th>Désignation</th>
        <th>P.Unitaire</th>
        <th>Quantite</th>
        <th>P.Total</th>
        <th>
          <a class="btn btn-sm btn-success text-white" (click)="AddData(null,1)">
              <i class="fa fa-plus"></i>Ajouter
          </a>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="crudApi.list.length==0" [class.text-danger]="!isValid && crudApi.list.length ==0">
          <td class="font-italic text-center" colspan="4">
              Aucun Article pour cette Vente ...
          </td>
        </tr>
        <tr *ngFor="let item of crudApi.list;let i=index;">
          <td>{{item.ItemName}}</td>
          <td>{{item.prixVente}}</td>
          <td>{{item.quantite}}</td>
          <td>{{item.total}}</td>
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="AddData(i,1)">
                <i class="fa fa-pencil"></i></a>
            <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.id,i)">
                <i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin  Ligne de commandes -->
    <div class="form-group col-sm-4 mb-sm-0" style="padding-left: 0px;">
      <label><strong>Total Ht : </strong></label>
      <input type="text" id="totalVente" formControlName="totalVente" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-database"></i> Submit</button>&nbsp;&nbsp;
    <a class="btn btn-sm btn-primary ml-1" routerLink="/detailsVentes"><i class="fa fa-plus-square"></i> Liste </a>
  </div>

</form>
