<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Nouvelle Creance</h1>
    <form #addContratForm="ngForm" (ngSubmit)="onSubmit(addContratForm)">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formDataCreance.id">
      <div class="form-group">
        <label>Référence </label>
        <input type="text" class="form-control" [(ngModel)]="formDataCreance.reference" name="reference" id="reference">
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control" [(ngModel)]="formDataCreance.libelle" name="libelle"  id="libelle">
      </div>

      <div class="form-group">
        <label>Client</label>
        <div class="form-group">
          <select name="client" id="client" [(ngModel)]="formDataCreance.client" class="form-control">
            <option [ngValue]="0">-Select-</option>
            <option *ngFor="let client of listClients" [ngValue]="client.id == formDataCreance.client?.id ? formDataCreance.client : client">{{client.raisonSocial}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Solde</label>
        <input type="number" class="form-control" [(ngModel)]="formDataCreance.soldeCreance" name="soldeCreance"  id="soldeCreance">
      </div>

      <div class="form-group">
        <label>Nbre Jours</label>
        <input type="number" class="form-control" [(ngModel)]="formDataCreance.nbreJours" name="nbreJours"  id="nbreJours">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
