.panel {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
}

.col-md-12 {
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

.btn-success {
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}

.btn-primary {
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 1%;
}