<div class="row">
  <div class="col-md-8 col-md-offset-2" *ngIf="currentContrat">
    <h1>EDITER CONTRAT</h1>
    <form #editContratForm="ngForm" (ngSubmit)="updateContrat(editContratForm.value)">

      <div class="form-group">
        <label>Référence </label>
        <input type="text" class="form-control" [(ngModel)]="currentContrat.reference" name="reference" id="reference">
      </div>

      <div class="form-group">
        <label>Désignation</label>
        <input type="text" class="form-control" [(ngModel)]="currentContrat.designation" name="designation"  id="designation">
      </div>

      <div class="form-group">
        <label>Categorie</label>
        <select class="form-control" id="client" name="client" [(ngModel)]="currentContrat.client">
          <option [ngValue]="clientOption.id == currentContrat.client?.id ? currentContrat.client : clientOption"
              *ngFor="let clientOption of clients">{{clientOption.raisonSocial}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" [(ngModel)]="currentContrat.description" name="description"  id="description">
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" [(ngModel)]="currentContrat.dateContrat" name="dateContrat"  id="dateContrat">
      </div>

      <div class="form-group">
        <!-- <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button> -->

        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
