<div class="row">
  <div class="col-md-8 col-md-offset-2" *ngIf="currentScategorie">
    <h1>EDITER SOUS CATEGORIE</h1>
    <form #editScatForm="ngForm" (ngSubmit)="updateScategorie(editScatForm.value)">

      <div class="form-group">
        <label>Code </label>
        <input type="text" class="form-control" [(ngModel)]="currentScategorie.code" name="code" id="code">
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control" [(ngModel)]="currentScategorie.libelle" name="libelle"  id="libelle">
      </div>

      <div class="form-group">
        <label>Categorie</label>
        <select class="form-control" id="categorie" name="categorie" [(ngModel)]="currentScategorie.categorie">
          <option [ngValue]="categorieOption.id == currentScategorie.categorie?.id ? currentScategorie.categorie : categorieOption"
              *ngFor="let categorieOption of categories">{{categorieOption.designation}}</option>
        </select>
      </div>

      <div class="form-group">
        <!-- <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button> -->

        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
