<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h1>Détails Fournisseur</h1>
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-md-6">
          <label>Code</label>
          <input
            type="text"
            class="form-control"
            formControlName="code"
            name="code"
            id="code"
            readonly
          />
        </div>

        <div class="form-group col-md-6">
          <label>Raison Sociale</label>
          <input
            type="text"
            class="form-control"
            formControlName="raisonSociale"
            name="raisonSociale"
            id="raisonSociale"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Prénom</label>
          <input
            type="text"
            class="form-control"
            formControlName="prenom"
            name="prenom"
            id="prenom"
            readonly
          />
        </div>

        <div class="form-group col-md-6">
          <label>Nom</label>
          <input
            type="text"
            class="form-control"
            formControlName="nom"
            name="nom"
            id="nom"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Bank</label>
          <input
            type="text"
            class="form-control"
            formControlName="nomBank"
            name="nomBank"
            id="nomBank"
            readonly
          />
        </div>
        <div class="form-group col-md-6">
          <label>Compte</label>
          <input
            type="text"
            class="form-control"
            formControlName="numeroCompte"
            name="numeroCompte"
            id="numeroCompte"
            readonly
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Adresse</label>
          <input
            type="text"
            class="form-control"
            formControlName="adresse"
            name="adresse"
            id="adresse"
            readonly
          />
        </div>

        <div class="form-group col-md-6">
          <label>Fax</label>
          <input
            type="text"
            class="form-control"
            formControlName="fax"
            name="fax"
            id="fax"
            readonly
          />
        </div>
      </div>

      <div class="form-group">
        <label>Telephone</label>
        <input
          type="text"
          class="form-control"
          formControlName="telephone"
          name="telephone"
          id="telephone"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          id="email"
          readonly
        />
      </div>

      <div class="form-group">
        <button
          type="button"
          class="btn btn-danger btn-sm btn-block ml-1"
          [mat-dialog-close]
        >
          <em class="fa fa-close"></em> Fermer
        </button>
      </div>
    </form>
  </div>
</div>
