<div class="btn-toolbar">
  <div class="panel-heading">
    <h1>EFFECTUER UN DEVIS</h1>
  </div>
</div>

<form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">
  <input
    type="hidden"
    class="form-control"
    formControlName="client"
    id="client"
  />

  <div class="row col-md-12">
    <div class="row">
      <div class="form-row col-sm-4 mb-3 mb-sm-0">
        <label><strong>Numéro Devis : </strong></label>
        <input
          type="text"
          class="form-control"
          formControlName="numeroDevis"
          id="numeroDevis"
          readonly
        />
      </div>

      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Client</label>
        <div class="form-group">
          <select
            name="client"
            formControlName="client"
            id="client"
            class="form-control"
            [compareWith]="compareClient"
          >
            <option value="0">-Select-</option>
            <option *ngFor="let item of ClientList" [ngValue]="item">
              {{ item.chefService }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Observation</label>
        <input
          type="text"
          formControlName="observation"
          class="form-control"
          id="observation"
        />
      </div>
    </div>
    <!--</div> -->

    <!-- Debut Ligne de devis -->
    <table class="table table-borderless" aria-label="">
      <thead class="thead-light">
        <th id="">Désignation</th>
        <th id="">P.Unitaire</th>
        <th id="">Quantite</th>
        <th id="">P.Total</th>
        <th id="">
          <a
            class="btn btn-success text-white"
            (click)="AddData(null, 1)"
          >
            <em class="fa fa-plus"></em>Ajouter Article
          </a>
        </th>
      </thead>
      <tbody>
        <tr
          *ngIf="crudApi.list.length == 0"
          [class.text-danger]="!isValid && crudApi.list.length == 0"
        >
          <td class="font-italic text-center" colspan="4">
            Aucun Article pour ce Devis ...
          </td>
        </tr>
        <tr *ngFor="let item of crudApi.list; let i = index">
          <td>{{ item.ItemName }}</td>
          <td>{{ item.prixDevis }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.total }}</td>
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="AddData(i, 1)">
              <em class="fa fa-pencil"></em
            ></a>
            <a
              class="btn btn-sm btn-danger text-white ml-1"
              (click)="onDeleteOrderItem(item.id, i)"
            >
              <em class="fa fa-trash"></em
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin  Ligne de devis -->
    <div class="form-group col-sm-4 mb-sm-0" style="padding-left: 0px">
      <label><strong>P.Total : </strong></label>
      <input
        type="text"
        id="totalDevis"
        formControlName="totalDevis"
        class="form-control"
        readonly
      />
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-success">
      <em class="fa fa-database"></em> Enregistrer</button
    >&nbsp;&nbsp;
    <a class="btn  btn-lg btn-primary" routerLink="/home/detailsDevis">
      <em class="fa fa-plus-square"></em> Details Devis
    </a>
  </div>
</form>
