<div class="row justify-content-center">
  <div class="col-md-12 col-md-offset-2" *ngIf="currentCategorie">
    <h1>UPDATE CATEGORIE</h1>
    <form #cat="ngForm" (ngSubmit)="updateCategorie(cat.value)">
      <!--  <input type="hidden"  formControlName="id" id="id"> -->
      <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" name="code" [(ngModel)]="currentCategorie.code"  id="code">
      </div>

      <div class="form-group">
        <label>Designation</label>
        <input type="text" class="form-control" name="designation" [(ngModel)]="currentCategorie.designation"  id="designation">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1">
          <i class="fa fa-close"></i> Close</button>
      </div>

    </form>
  </div>
</div>



