<div class="panel panel-default">
  <div class="btn-toolbar">
    <div class="panel-heading">
      <h3>DETAILS DES AVOIRS</h3>
    </div>
    <div style="padding-left: 20px; padding-top: 10px">
      <a type="button" (click)="onCreateAvoir()" class="btn btn-success btn-lg"
        ><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a
      >&nbsp;
      <!-- <a type="button" [routerLink]="['/createArticle']" class="btn btn-primary btn-lg" (click)="onCreateCategorie()"><i class="fa fa-download" aria-hidden="true"></i> Import</a>&nbsp;&nbsp;
      <a type="button" class="btn btn-warning btn-lg" (click)="onCreateCategorie()"><i class="fa fa-upload" aria-hidden="true"></i> Export</a> -->
    </div>
  </div>
  <div class="panel-body">
    <table
      class="table table-striped table-bordered table-sm row-border hover"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      aria-label=""
    >
      <thead>
        <tr>
          <th>Numéro</th>
          <th>Produit</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Total</th>
          <th>Fournisseur</th>
          <!--  <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lavoir of listDataAvoir">
          <td>{{ lavoir.numero }}</td>
          <td>{{ lavoir.produit?.designation }}</td>
          <td>{{ lavoir.prix }}</td>
          <td>{{ lavoir.quantite }}</td>
          <td>{{ lavoir.prix * lavoir.quantite }}</td>
          <td>
            {{ lavoir.avoir?.fournisseur.raisonSociale }}
          </td>
          <!--
              <td>
                <button class="btn btn-info btn-lg" (click)="editerLigneCmdClient(lcomClient)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>&nbsp;
                <button class="btn btn-danger btn-lg" (click)="deleteLigneAvoir(lavoir.id)"><i class="fa fa-trash-o"></i> </button>
              </td>
              -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
