<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h1>Modifier Solde</h1>
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Numero Créance </label>
          <input type="text" class="form-control" formControlName="id" id="id" disabled>
        </div>

        <div class="form-group">
          <label>Solde</label>
          <input type="text" class="form-control" formControlName="soldeCreance" id="soldeCreance">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success btn-sm">
            <i class="fa fa-database"></i> Submit</button>&nbsp;
          <button type="button" class="btn btn-danger btn-sm ml-1" [mat-dialog-close]>
            <i class="fa fa-close"></i> Close</button>
        </div>
    </form>
  </div>

</div>


