<div class="row justify-content-center">
  <div class="col-md-12 col-md-offset-2" *ngIf="currentEmploye">
    <h1>EDITER EMPLOYE CLIENT</h1>
    <form #emp="ngForm" (ngSubmit)="updateEmploye(emp.value)">
      <!--  <input type="hidden"  formControlName="id" id="id"> -->
      <div class="form-group">
        <label>Prénom</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.prenom" name="prenom" id="prenom">
      </div>

      <div class="form-group">
        <label>Nom</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.nom" name="nom" id="nom">
      </div>

      <div class="form-group">
        <label>CNI</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.cni" name="cni" id="cni">
      </div>

      <div class="form-group">
        <label>Adresse</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.adresse"  name="adresse" id="adresse">
      </div>

      <div class="form-group">
        <label>Telephone</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.telephone" name="telephone" id="telephone">
      </div>

      <div class="form-group">
        <label>Telephone2</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.telephone2" name="telephone2" id="telephone2">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" [(ngModel)]="currentEmploye.email" name="email" id="email">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1">
          <i class="fa fa-close"></i> Close</button>
      </div>

    </form>
  </div>
</div>



