<div class="row justify-content-center">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="dislay-4">Lignes Commandes </h4>
    <hr>
    <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

        <input type="hidden" name="OrderItemId" #OrderItemId="ngModel" [(ngModel)]="formData.OrderItemId" class="form-control">
        <input type="hidden" name="OrderId" #OrderId="ngModel" [(ngModel)]="formData.OrderId" class="form-control">
        <input type="hidden" name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName" class="form-control">

        <div class="form-group">
          <label>Article</label>
          <select name="ItemId" #ItemId="ngModel" [(ngModel)]="formData.ItemId" class="form-control"
            (change)="selectPrice($event.target)" [class.is-invalid]="!isValid && formData.ItemId==0">
            <option value="0">-Select-</option>
            <option *ngFor="let item of listArticle" value="{{item.id}}">{{item.reference}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Prix Unitaire</label>
          <div class="form-group">
            <input name="prix" #prix="ngModel" [(ngModel)]="formData.prix" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
          <label>Quantité</label>
          <div class="form-group">
            <input type="number" name="quantite" #quantite="ngModel" [(ngModel)]="formData.quantite" class="form-control"
              (keyup)="calculTotal()" [class.is-invalid]="!isValid && formData.quantite==0">
          </div>
        </div>

        <div class="form-group">
          <label>Total</label>
          <div class="form-group">
            <input name="total" #total="ngModel" [(ngModel)]="formData.total" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
          <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
        </div>

    </form>
  </div>
</div>


<!--
<div class="row justify-content-center">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="dislay-4">Commande </h4>
    <hr>
    <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

        <input type="hidden" name="OrderItemId" #OrderItemId="ngModel" [(ngModel)]="formData.OrderItemId" class="form-control">
        <input type="hidden" name="OrderId" #OrderId="ngModel" [(ngModel)]="formData.OrderId" class="form-control">
        <input type="hidden" name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName" class="form-control">
        <div class="form-group">
          <label>Article</label>
          <select name="produit" #ItemId="ngModel" [(ngModel)]="formData.produit" class="form-control"
            (change)="selectPrice($event.target)" [class.is-invalid]="!isValid && formData.produit.id==0">
            <option value="0">-Select-</option>
            <option *ngFor="let item of listArticle" [ngValue]="item.id">{{item.reference}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Prix Unitaire</label>
          <div class="form-group">
            <input name="prix" #prix="ngModel" [(ngModel)]="formData.prix" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
          <label>Quantité</label>
          <div class="form-group">
            <input type="number" name="quantite" #quantite="ngModel" [(ngModel)]="formData.quantite" class="form-control"
              (keyup)="calculTotal()" [class.is-invalid]="!isValid && formData.quantite==0">

          </div>
        </div>

        <div class="form-group">
          <label>Total</label>
          <div class="form-group">
            <input name="total" #total="ngModel" [(ngModel)]="formData.total" class="form-control" readonly>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
          <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
        </div>

    </form>
  </div>
</div> -->


