<div class="panel panel-default">
  <div class="panel-heading">
    <h3>GESTION DES CLIENTS</h3>
  </div>
  <div style="padding-left: 20px; padding-top: 10px">
    <a
      type="button"
      *ngIf="(showManagerBoard || showAdminBoard || showGerantBoard)"
      (click)="onCreateClient()" class="btn btn-success btn-lg">
      <i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a
    >&nbsp;
    <a (click)="OpenPdf()" class="btn btn-warning btn-lg">
      <i class="fa fa-folder-open" aria-hidden="true"></i>Ouvrir</a
    >&nbsp;
    <a (click)="PrintPdf()" class="btn btn-success btn-lg">
      <i class="fa fa-print" aria-hidden="true"></i>Imprimer</a
    >&nbsp;
    <a type="button" (click)="DownloadPdf()" class="btn btn-danger btn-lg">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Télécharger</a
    >&nbsp;
  </div>
  <div class="panel-body">
    <table
      class="table table-striped table-bordered table-sm row-border hover"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      aria-label=""
    >
      <thead>
        <tr>
          <th>#</th>
          <th>Raison Social / Nom&Prénom</th>
          <th>Telephone Mobile</th>
          <th>Email</th>
          <th>Addresse</th>
          <th>Telephone Fixe</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clt of crudApi.listData; let i = index">
          <td>{{ clt.id }}</td>
          <td>{{ clt.raisonSocial }}</td>
          <td>{{ clt.mobile }}</td>
          <td>{{ clt.email }}</td>
          <td>{{ clt.telephone }}</td>
          <td>{{ clt.adresse }}</td>
          <td>
            <button class="btn btn-success btn-lg" (click)="viewDetail(clt)">
              <i class="fa fa-eye" aria-hidden="true"></i></button
            >&nbsp;
            <button class="btn btn-warning btn-lg" (click)="envoiEmail(clt)">
              <i class="fa fa-envelope" aria-hidden="true"></i></button
            >&nbsp;
            <button class="btn btn-primary btn-lg" (click)="envoiSMS(clt)">
              <i class="fa fa-mobile" aria-hidden="true"></i></button
            >&nbsp;
            <button
              *ngIf="(showManagerBoard || showAdminBoard || showGerantBoard)"
              class="btn btn-info btn-lg" (click)="editClient(clt)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button
            >&nbsp;
            <button
              *ngIf="showAdminBoard"
              class="btn btn-danger btn-lg"
              (click)="deleteClient(clt.id)"
            >
              <em class="fa fa-trash-o"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
