<div class="panel panel-default">
    <div class="btn-toolbar">
        <div class="panel-heading">
            <h1>GESTION DES ARTICLES</h1>
        </div>
        <div class="row" style="padding-left: 20px; padding-top: 10px;">
            <div class="col-md-1">
                <button (click)="addEditArticle(null)" class="btn btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Create</button>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <input class="form-control" type="file" #fileUploadInput style="height:45px;" />
            </div>
            <div class="col-md-1" style="margin-left: 0px">
                <button class="btn btn-warning  btn-lg" (click)="uploadExcelFile();">
          <i class="fa fa-upload" aria-hidden="true"></i> Importer</button>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Telecharger <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a type="button" class="btn btn-success" (click)="generateExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</a></li>
                            <li><a type="button" class="btn btn-danger" (click)="generatePdf()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Pdf</a></li>
                            <!--  <li><a href="#">Imprimer</a></li> -->
                        </ul>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </div>
            <!--  <div class="col-md-1 col-md-offset-1">
      <button class="btn btn-warning btn-lg" (click)="Imprimer()">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </button>
    </div> -->
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>BarCode</th>
                    <th>QrCode</th>
                    <th>Reference</th>
                    <th>Designation</th>
                    <th>Scategorie</th>
                    <th>P.Achat</th>
                    <th>P.Vente</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let art of crudApi.listArticle; let i=index;">
                    <td>{{art.barCode}}</td>
                    <td>{{art.qrCode}}</td>
                    <td>{{art.reference}}</td>
                    <td>{{art.designation}}</td>
                    <td>{{art.scategorie?.libelle}}</td>
                    <td>{{art.prixAchat}}</td>
                    <td>{{art.prixVente}}</td>
                    <td>{{art.qtestock
                        <=art.stockInitial ? "epuisé": "encours"}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="viewArticle(i)"> <i class="fa fa-eye" aria-hidden="true"></i> </button>&nbsp;
                                <button class="btn btn-info btn-sm" (click)="addEditArticle(i)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>&nbsp;
                                <button class="btn btn-danger btn-sm" (click)="deleteArticle(art.id)"><i class="fa fa-trash-o"></i>  </button>&nbsp;
                                <!--    <button class="btn btn-warning btn-sm" (click)="Imprimer()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </button> -->
                            </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
