<div class="row">
  <div class="col-md-8 col-md-offset-2" *ngIf="currentVersement">
    <h1>EDITER VERSEMENT</h1>
    <form #editVersementForm="ngForm" (ngSubmit)="updateVersement(editVersementForm.value)">

      <div class="form-group">
        <label>Numéro </label>
        <input type="text" class="form-control" [(ngModel)]="currentVersement.numVersement" name="numVersement" id="numVersement">
      </div>

      <div class="form-group">
        <label>Nature</label>
        <input type="text" class="form-control" [(ngModel)]="currentVersement.nature" name="nature"  id="nature">
      </div>

      <div class="form-group">
        <label>Employe</label>
        <select class="form-control" id="employe" name="employe" [(ngModel)]="currentVersement.employe">
          <option [ngValue]="employeOption.id == currentVersement.employe?.id ? currentVersement.employe : employeOption"
              *ngFor="let employeOption of employes">{{employeOption.cni}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Montant</label>
        <input type="text" class="form-control" [(ngModel)]="currentVersement.montantVersement" name="montantVersement"  id="montantVersement">
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" [(ngModel)]="currentVersement.dateVersement" name="dateVersement"  id="dateVersement">
      </div>

      <div class="form-group">
        <!-- <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button> -->

        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
