<!--main content start-->
<section id="container">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a routerLink="/">Home</a></li>
        <li><i class="icon_piechart"></i>Chart</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <!-- chart morris start -->
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          <h3>General Chart</h3>
        </header>
        <div class="panel-body">
          <div class="tab-pane" id="chartjs">
            <div class="row">
              <!-- Line -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Chiffres Affaires Vente Par mois
                  </header>
                  <div class="panel-body text-center">
                  <!--  <canvas id="line" height="300" width="450"> </canvas> -->
                      <app-linechart></app-linechart>

                  </div>
                </section>
              </div>
              <!-- Bar -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Chiffres Affaires Vente Par années
                  </header>
                  <div class="panel-body text-center">
                  <!--  <canvas id="bar" height="300" width="500"></canvas>  -->
                    <app-barchart></app-barchart>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <!-- Radar -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Radar
                  </header>
                  <div class="panel-body text-center">
                    <canvas id="radar" height="300" width="400"></canvas>
                  </div>
                </section>
              </div>
              <!-- Polar Area -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Polar Area
                  </header>
                  <div class="panel-body text-center">
                    <canvas id="polarArea" height="300" width="400"></canvas>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <!-- Pie -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Pie
                  </header>
                  <div class="panel-body text-center">
                   <app-piechart></app-piechart>
                  </div>
                </section>
              </div>
              <!-- Doughnut -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Doughnut
                  </header>
                  <div class="panel-body text-center">
                    <canvas id="doughnut" height="300" width="400"></canvas>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- chart morris start -->
  </div>
</section>



<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
        <li><i class="icon_piechart"></i>Graphiques</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <!-- chart morris start -->
    <div class="col-lg-12">
      <section class="panel">
        <header class="panel-heading">
          <h3>General Chart</h3>
        </header>
        <div class="panel-body">
          <div class="tab-pane">
            <div class="row">
              <!-- Line -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Chiffres D'Affaires des ventes/mois
                  </header>
                  <div class="panel-body text-center">
                  <!--  <canvas id="line" height="300" width="450"></canvas> -->
                    <app-linechart height="300" width="450"></app-linechart>
                  </div>
                </section>
              </div>
              <!-- Bar -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                       Radar
                  </header>
                  <div class="panel-body text-center">
                    <canvas height="300" width="400"></canvas>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <!-- Radar -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Chiffres D'Affaires des ventes/années
                  </header>
                  <div class="panel-body text-center">
                  <!--  <canvas id="bar" height="300" width="500"></canvas> -->
                    <app-barchart height="300" width="500"></app-barchart>
                  </div>
                </section>
              </div>
              <!-- Polar Area -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Polar Area
                  </header>
                  <div class="panel-body text-center">
                    <canvas id="polarArea" height="300" width="400"></canvas>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <!-- Pie -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Pie
                  </header>
                  <div class="panel-body text-center">
                  <!--  <canvas id="pie" height="300" width="400"></canvas> -->
                    <app-piechart height="300" width="400"></app-piechart>
                  </div>
                </section>
              </div>
                <!-- Doughnut -->
              <div class="col-lg-6">
                <section class="panel">
                  <header class="panel-heading">
                    Doughnut
                  </header>
                  <div class="panel-body text-center">
                    <canvas height="300" width="400"></canvas>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- chart morris start -->
  </div>
</div>
