<!--main content start-->
<section id="container">
  <!--overview start-->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><em class="fa fa-home"></em><a routerLink="/">Accueil</a></li>
        <li><em class="fa fa-laptop"></em>Tableaux</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 portlets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><strong>Liste des Ventes Effectuées par Agent</strong></h2>
        </div>
        <div class="panel-body">
          <div style="display: block">
            <app-list-vente-of-user></app-list-vente-of-user>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 portlets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left">Liste des Commandes Effectuées par Agent</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="padd">
            <div>
              <app-list-commande-of-user></app-list-commande-of-user>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 portlets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><strong>Liste des Creances Effectuées par Agent</strong></h2>
        </div>
        <div class="panel-body">
          <div style="display: block">
           <app-list-creance-of-user></app-list-creance-of-user>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 portlets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left">Liste des Approvisioonements des trois derniers mois</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="padd">
            <div style="display: block">
             <app-list-appro-of-user></app-list-appro-of-user>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--main content end-->


