<mat-toolbar color="success">
    <div>
        <h1>Effectuer une Vente</h1>
    </div>
</mat-toolbar>

<form>
    <div class="row">

        <div class="form-row col-sm-4 mb-3 mb-sm-0">
            <label><strong>Numéro Vente : </strong></label>
            <input type="text" class="form-control" (keypress)="onKey($event)">
        <!--     <input type="text" (window:keypress)="onKey($event)"  autofocus />-->
            <p>barcode: {{ barcode }}</p>
        </div>

        <div class="form-group col-sm-4 mb-3 mb-sm-0">
            <label>Type Réglement</label>
            <select name="typeReglement" id="typeReglement" class="form-control">
                <option value="0">-Select-</option>
                <option *ngFor="let item of listDataReglement" [ngValue]="item">{{item}}</option>
              </select>
        </div>

        <div class="form-group col-sm-4 mb-3 mb-sm-0">
            <label>Montant Réglement</label>
            <input type="number" class="form-control" id="status">
        </div>
    </div>
    <div class="cart transition is-open">
        <div class="table">

            <div class="layout-inline row th">
                <div class="col col-pro">Product</div>
                <div class="col col-price align-center ">
                    Price
                </div>
                <div class="col col-qty align-center">QTY</div>
                <div class="col">Total</div>
                <div class="col">Action</div>
            </div>


            {{this.lastScannedBarCode}}

            <div class="layout-inline row" *ngIf="this.listOfScannedBarCodes.length == 0">No items added yet. Scan barcode of products.</div>

            <div *ngIf="this.listOfScannedBarCodes.length > 0">

              <div  class="layout-inline row" *ngFor="let item of listOfScannedBarCodes; let i=index;">

                  <div class="col col-pro layout-inline">
                      <p>{{item.designation}}</p>
                  </div>

                  <div class="col col-price col-numeric align-center ">
                      <p>{{item.price}}</p>
                  </div>

                  <div class="col col-qty layout-inline">
                      <a href="#" class="qty qty-minus">-</a>
                      <input type="numeric" value={{item.quantity}} />
                      <a href="#" class="qty qty-plus">+</a>
                  </div>

                  <div class="col col-total col-numeric">
                      <p> {{item.quantity * item.price}}</p>
                  </div>

                  <div class="col col-total col-numeric">
                      <a class="btn btn-sm btn-danger text-white ml-1">
                          <i class="fa fa-trash"></i></a>
                  </div>

              </div>

            </div>

            <!-- <div class="layout-inline row row-bg2">

                <div class="col col-pro layout-inline">
                    <p>Scared Little Kittie</p>
                </div>

                <div class="col col-price col-numeric align-center ">
                    <p>£23.99</p>
                </div>

                <div class="col col-qty  layout-inline">
                    <a href="#" class="qty qty-minus ">-</a>
                    <input type="numeric" value="1" />
                    <a href="#" class="qty qty-plus">+</a>
                </div>
                <div class="col col-total col-numeric">
                    <p>£25.94</p>
                </div>

                <div class="col col-total col-numeric">
                    <a class="btn btn-sm btn-danger text-white ml-1">
                        <i class="fa fa-trash"></i></a>
                </div>

            </div>

            <div class="layout-inline row row-bg2">

                <div class="col col-pro layout-inline">
                    <p>Scared Little Kittie</p>
                </div>

                <div class="col col-price col-numeric align-center ">
                    <p>£23.99</p>
                </div>

                <div class="col col-qty  layout-inline">
                    <a href="#" class="qty qty-minus ">-</a>
                    <input type="numeric" value="1" />
                    <a href="#" class="qty qty-plus">+</a>
                </div>
                <div class="col col-total col-numeric">
                    <p>£25.94</p>
                </div>

                <div class="col col-total col-numeric">
                    <a class="btn btn-sm btn-danger text-white ml-1">
                        <i class="fa fa-trash"></i></a>
                </div>

            </div>

            <div class="layout-inline row row-bg2">

                <div class="col col-pro layout-inline">
                    <p>Scared Little Kittie</p>
                </div>

                <div class="col col-price col-numeric align-center ">
                    <p>£23.99</p>
                </div>

                <div class="col col-qty  layout-inline">
                    <a href="#" class="qty qty-minus ">-</a>
                    <input type="numeric" value="1" />
                    <a href="#" class="qty qty-plus">+</a>
                </div>
                <div class="col col-total col-numeric">
                    <p>£25.94</p>
                </div>

                <div class="col col-total col-numeric">
                    <a class="btn btn-sm btn-danger text-white ml-1">
                        <i class="fa fa-trash"></i></a>
                </div>

            </div>

            <div class="layout-inline row row-bg2">

                <div class="col col-pro layout-inline">
                    <p>Scared Little Kittie</p>
                </div>

                <div class="col col-price col-numeric align-center ">
                    <p>£23.99</p>
                </div>

                <div class="col col-qty  layout-inline">
                    <a href="#" class="qty qty-minus">-</a>
                    <input type="numeric" value="1" />
                    <a href="#" class="qty qty-plus">+</a>
                </div>
                <div class="col col-total col-numeric">
                    <p>£25.94</p>
                </div>

                <div class="col col-total col-numeric">
                    <a class="btn btn-sm btn-danger text-white ml-1">
                        <i class="fa fa-trash"></i></a>
                </div>



            </div> -->

            <div class="tf">
                <div class="row layout-inline">
                    <div class="col">
                        <p>Total :
                            <input type="text" value="{{this.totalAmount}}" id="totalVente" class="form-control" readonly>
                        </p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-database"></i> Submit</button>
    </div>
</form>
