<mat-toolbar color="success">
  <div><h1>AJOUTER UN AVOIR</h1></div>
</mat-toolbar>

<form [formGroup]="this.crudApi.formData" (ngSubmit)="onSubmit()">
  <input
    type="hidden"
    class="form-control"
    formControlName="fournisseur"
    id="fournisseur"
  />
  <div class="row col-md-12">
    <div class="row">
      <div class="form-row col-sm-4 mb-3 mb-sm-0">
        <label><strong>Référence : </strong></label>
        <input
          type="text"
          class="form-control"
          formControlName="reference"
          id="reference"
          readonly
        />
      </div>
      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Libelle</label>
        <input
          type="text"
          formControlName="libelle"
          class="form-control"
          id="libelle"
        />
      </div>
      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Solde</label>
        <input
          type="text"
          formControlName="soldeAvoir"
          class="form-control"
          id="soldeAvoir"
        />
      </div>

      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Fournisseur</label>
        <div class="form-group">
          <select
            name="fournisseur"
            formControlName="fournisseur"
            id="fournisseur"
            class="form-control"
            [compareWith]="compareFournisseur"
          >
            <option value="0">-Select-</option>
            <option *ngFor="let item of FourList" [ngValue]="item">
              {{ item.prenom }} {{ item.nom }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Délais</label>
        <input
          type="text"
          formControlName="nbreJours"
          class="form-control"
          id="nbreJours"
        />
      </div>
      <div class="form-group col-sm-4 mb-3 mb-sm-0">
        <label>Status</label>
        <input
          type="text"
          formControlName="status"
          class="form-control"
          id="status"
        />
      </div>
    </div>
    <!--</div> -->

    <!-- Debut Ligne de avoirs -->
    <table class="table table-borderless" aria-label="">
      <thead class="thead-light">
        <th>Article</th>
        <th>Price</th>
        <th>Quantite</th>
        <th>Total</th>
        <th>
          <a
            class="btn btn-sm btn-success text-white"
            (click)="AddData(null, 1)"
          >
            <em class="fa fa-plus"></em>Ajouter
          </a>
        </th>
      </thead>
      <tbody>
        <tr
          *ngIf="crudApi.list.length == 0"
          [class.text-danger]="!isValid && crudApi.list.length == 0"
        >
          <td class="font-italic text-center" colspan="4">
            Aucun Article pour cet Avoir ...
          </td>
        </tr>
        <tr *ngFor="let item of crudApi.list; let i = index">
          <td>{{ item.ItemName }}</td>
          <td>{{ item.prix }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.total }}</td>
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="AddData(i, 1)">
              <em class="fa fa-pencil"></em
            ></a>
            <a
              class="btn btn-sm btn-danger text-white ml-1"
              (click)="onDeleteOrderItem(item.id, i)"
            >
              <em class="fa fa-trash"></em
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin  Ligne de creances -->
    <div class="form-group col-sm-4 mb-sm-0" style="padding-left: 0px">
      <label><strong>Total Ht : </strong></label>
      <input
        type="text"
        id="totalAvoir"
        formControlName="totalAvoir"
        class="form-control"
        readonly
      />
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-success">
      <em class="fa fa-database"></em> Enregistrer </button
    >&nbsp;&nbsp;
    <a class="btn btn-lg btn-primary ml-1" routerLink="/home/detailsAvoirs"
      ><em class="fa fa-plus-square"></em> Détails Avoir
    </a>
  </div>
</form>

<!--
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Nouveau Avoir</h1>
    <form #addAvoirForm="ngForm" (ngSubmit)="onSubmit(addAvoirForm)">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formDataAvoir.id">

      <div class="form-group">
        <label>Référence </label>
        <input type="text" class="form-control" [(ngModel)]="formDataAvoir.reference" name="reference" id="reference">
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control" [(ngModel)]="formDataAvoir.libelle" name="libelle"  id="libelle">
      </div>

      <div class="form-group">
        <label>Fournisseur</label>
        <div class="form-group">
          <select name="fournisseur" id="fournisseur" [(ngModel)]="formDataAvoir.fournisseur" class="form-control">
            <option [ngValue]="0">-Select-</option>
            <option *ngFor="let four of listFournisseurs" [ngValue]="four.id == formDataAvoir.fournisseur?.id ? formDataAvoir.fournisseur : four">{{four.raisonSociale}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>Solde</label>
        <input type="number" class="form-control" [(ngModel)]="formDataAvoir.soldeAvoir" name="soldeAvoir"  id="soldeAvoir">
      </div>

      <div class="form-group">
        <label>Nbre Jours</label>
        <input type="number" class="form-control" [(ngModel)]="formDataAvoir.nbreJours" name="nbreJours"  id="nbreJours">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
-->
