div.scroll
{

height:670px;
//FLOAT: left;

//padding: 1%;
overflow:scroll;
}

label
{
    font-weight: bold;

   color :"#0000FF";

}


h1
{
    font-size: 40px;
    text-align: center;
    /* Titres de 40 pixels */
}
th
{
    font-size: 18px;
    text-align: center;
    /* Titres de 40 pixels */
}

