
  <div>
    <canvas id="barChartVente"></canvas>
  </div>

<!--
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>

<div>
  <div style="display: block" class="chart-container" style="position: relative; height:40vh; width:70vw">
    <canvas id="canvas">{{ Barchart }}</canvas>
  </div>
</div>
-->
