<div class="row">
  <div class="col-md-8 col-md-offset-2" *ngIf="currentArticle">
    <h1>EDITER ARTICLE</h1>
    <form #editArtForm="ngForm" (ngSubmit)="updateArticle(editArtForm.value)">

      <div class="form-group">
        <label>Référence </label>
        <input type="text" class="form-control" [(ngModel)]="currentArticle.reference" name="reference" id="reference">
      </div>

      <div class="form-group">
        <label>Désignation</label>
        <input type="text" class="form-control" [(ngModel)]="currentArticle.designation" name="designation"  id="designation">
      </div>

      <div class="form-group">
        <label>Categorie</label>
        <select class="form-control" id="categorie" name="categorie" [(ngModel)]="currentArticle.categorie">
          <option [ngValue]="categorieOption.id == currentArticle.categorie?.id ? currentArticle.categorie : categorieOption"
              *ngFor="let categorieOption of categories">{{categorieOption.designation}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Scategorie</label>
        <select class="form-control" id="scategorie" name="scategorie" [(ngModel)]="currentArticle.scategorie">
          <option [ngValue]="scategorieOption.id == currentArticle.scategorie?.id ? currentArticle.scategorie : scategorieOption"
              *ngFor="let scategorieOption of scategories">{{scategorieOption.libelle}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>P.Achat</label>
        <input type="number" class="form-control" [(ngModel)]="currentArticle.prixAchat" name="prixAchat"  id="prixAchat">
      </div>

      <div class="form-group">
        <label>P.Vente</label>
        <input type="number" class="form-control" [(ngModel)]="currentArticle.prixVente" name="prixVente"  id="prixVente">
      </div>

      <div class="form-group">
        <label>QStock</label>
        <input type="number" class="form-control" [(ngModel)]="currentArticle.qtestock" name="qtestock"  id="qtestock">
      </div>

      <div class="form-group">
        <label>QStockInitial</label>
        <input type="number" class="form-control" [(ngModel)]="currentArticle.stockInitial" name="stockInitial"  id="stockInitial">
      </div>

      <div class="form-group">
        <!-- <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button> -->

        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-outline-dark ml-1"><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
