<h1 class="dislay-4">Commande </h1>
<hr>
<form [formGroup]="this.formData"  (ngSubmit)="onSubmit()">
    <input type="hidden" class="form-control" formControlName="id" id="id">
    <input type="hidden" class="form-control">

    <div class="form-group">
        <label>Article </label>
        <select  class="form-control" formControlName="id" id="id"
         (change)="selectPrice($event.target)">
            <option value="0">-Select-</option>
            <option *ngFor="let item of articleList" value="{{item.id}}">{{item.reference}}</option>
       </select>
    </div>
    <div class="form-group">
    <label>Prix Unitaire </label>
    <div class="input-group">
          <input class="form-control" (keyup)="cal()" formControlName="prix" id="prix"
          [class.is-invalid]="!isValid && formData.value.prix==0" >
    </div>
    </div>

    <div class="form-group">
       <label>Quantité</label>
      <div class="input-group">
        <input name="quantite"  class="form-control" formControlName="quantite" id="quantite" (keyup)="cal()"
        [class.is-invalid]="!isValid && formData.value.quantite==0">
      </div>
    </div>

    <div class="form-group">
        <label>Tva</label>
      <div class="input-group">
        <input class="form-control"  readonly >
      </div>
    </div>

    <div class="form-group">
      <label>Totht </label>
      <div class="input-group">
        <input type = "text" class="form-control"  readonly>
     </div>
    </div>

    <input type="hidden" class="form-control"  readonly>
    <input type="hidden" class="form-control"  readonly>

    <div class="form-group">
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
      <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
    </div>

</form>
