<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h1>CatégorieCharge</h1>
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
        <input type="hidden"  formControlName="id" id="id">
        <div class="form-group">
          <label>Code </label>
          <input type="text" class="form-control" formControlName="codeCategorieCharge" id="codeCategorieCharge" />
          <div *ngIf="f['codeCategorieCharge'].invalid && (f['codeCategorieCharge'].dirty || f['codeCategorieCharge'].touched)" class="alert alert-danger">
            <span *ngIf="f['codeCategorieCharge'].errors.required">
              Code obligatoire.
           </span>
          </div>
        </div>

        <div class="form-group">
          <label>Designation</label>
          <input type="text" class="form-control" formControlName="nomCategorieCharge" id="nomCategorieCharge" />
          <div *ngIf="f['nomCategorieCharge'].invalid && (f['nomCategorieCharge'].dirty || f['nomCategorieCharge'].touched)" class="alert alert-danger">
            <span *ngIf="f['nomCategorieCharge'].errors.required">
              Designation obligatoire.
           </span>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>&nbsp;
          <button type="button" class="btn btn-danger ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
        </div>
    </form>
  </div>

</div>


