<!-- <div class="row">
  <div class="col-md-12">
    <h1>Nouveau Utilisateur</h1>
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Username </label>
          <input type="text" class="form-control" formControlName="username" id="username">
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="text" class="form-control" formControlName="password" id="password">
        </div>

        <div class="form-group">
          <label>Confirmer Password</label>
          <input type="text" class="form-control" formControlName="confirmPassword" id="confirmPassword">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>&nbsp;
          <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
        </div>
    </form>
  </div>

</div>
 -->
