<div class="panel panel-default">
  <div class="btn-toolbar">
    <div class="panel-heading">
      <h1>GESTION DES FOURNISSEURS</h1>
    </div>
    <div style="padding-left: 20px; padding-top: 10px;">
      <a type="button" (click)="onCreateFournisseur()" class="btn btn-success btn-lg" ><i class="fa fa-plus" aria-hidden="true"></i> Create</a>&nbsp;
      <!-- <a type="button" [routerLink]="['/createArticle']" class="btn btn-primary btn-lg" (click)="onCreateCategorie()"><i class="fa fa-download" aria-hidden="true"></i> Import</a>&nbsp;&nbsp;
      <a type="button" class="btn btn-warning btn-lg" (click)="onCreateCategorie()"><i class="fa fa-upload" aria-hidden="true"></i> Export</a>
        -->
    </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Code</th><th>Raison Sociale</th><th>Prénom et Nom</th><th>Numero Compte</th><th>NomBank</th>
              <th>Adresse</th><th>Telephone</th><th>Fax</th><th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let four of listData">
              <td>{{four.code}}</td>
              <td>{{four.raisonSociale}}</td>
              <td>{{four.prenom}}  {{four.nom}}</td>
              <td>{{four.numeroCompte}}</td>
              <td>{{four.nomBank}}</td>
              <td>{{four.adresse}}</td>
              <td>{{four.telephone}}</td>
              <td>{{four.fax}}</td>
              <td>{{four.email}}</td>
              <td>
                <button class="btn btn-info btn-lg" (click)="editFournisseur(four)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>&nbsp;
                <button class="btn btn-danger btn-lg" (click)="deleteFournisseur(four.id)"><i class="fa fa-trash-o"></i>  Delete</button>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
<!--
<div class="panel panel-default">
  <div class="btn-toolbar">
    <div class="panel-heading">
      <h3>GESTION DES EMPLOYES </h3>
    </div>
   <div style="padding-left: 20px; padding-bottom: 10px;">
      <a type="button" (click)="onCreateFournisseur()"  class="btn btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>&nbsp;
      <a type="button" [routerLink]="['/createClient']" class="btn btn-primary btn-lg" (click)="onCreateCategorie()"><i class="fa fa-download" aria-hidden="true"></i> Import</a>&nbsp;&nbsp;
      <a type="button" class="btn btn-warning btn-lg" (click)="onCreateCategorie()"><i class="fa fa-upload" aria-hidden="true"></i> Export</a>
    </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-sm row-border hover">
           <thead>
            <tr>
              <th>Code</th><th>Raison Sociale</th><th>Prénom</th><th>Nom</th><th>NomBank</th><th>Numero Compte</th>
              <th>Adresse</th><th>Telephone</th><th>Fax</th><th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let four of listData">
              <td>{{four.code}}</td>
              <td>{{four.raisonSociale}}</td>
              <td>{{four.prenom}}</td>
              <td>{{four.nom}}</td>
              <td>{{four.nomBank}}</td>
              <td>{{four.numeroCompte}}</td>
              <td>{{four.adresse}}</td>
              <td>{{four.telephone}}</td>
              <td>{{four.fax}}</td>
              <td>{{four.email}}</td>
              <td>
                <button class="btn btn-info btn-lg" (click)="editFournisseur(four)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>&nbsp;
                <button class="btn btn-danger btn-lg" (click)="deleteFournisseur(four.id)"><i class="fa fa-trash-o"></i>  Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
 -->
