<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h1>Nouveau Fournisseur</h1>
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
      <input type="hidden"  formControlName="id" id="id">
      <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" formControlName="code" name="code" id="code" placeholder="Code unique du fournisseur">
        <div *ngIf="f['code'].invalid && (f['code'].dirty || f['code'].touched)" class="alert alert-danger">
          <span *ngIf="f['code'].errors.required">
            Code obligatoire.
         </span>
        </div>
      </div>

      <div class="form-group">
        <label>Raison Sociale</label>
        <input type="text" class="form-control" formControlName="raisonSociale" name="raisonSociale" id="raisonSociale" placeholder="Raison social fournisseur">
        <div *ngIf="f['raisonSociale'].invalid && (f['raisonSociale'].dirty || f['raisonSociale'].touched)" class="alert alert-danger">
         <!--  <span *ngIf="f['raisonSociale'].errors.required">Le numéro de Téléphone est obligatoire.</span> -->
          <span *ngIf="f['raisonSociale'].errors?.pattern">SVP, La raison social doit contenir que des lettres..</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Prénom</label>
          <input type="text" class="form-control" formControlName="prenom" name="prenom" id="prenom" placeholder="Prénom fournisseur">
          <div *ngIf="f['prenom'].invalid && (f['prenom'].dirty || f['prenom'].touched)" class="alert alert-danger">
            <span *ngIf="f['prenom'].errors.required">Le  Prénom obligatoire est obligatoire.</span>
            <span *ngIf="f['prenom'].errors?.pattern">SVP, Le prénom doit contenir des lettres de l'alphabet A-Z..</span>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Nom</label>
          <input type="text" class="form-control" formControlName="nom" name="nom" id="nom" placeholder="Nom du fournisseur">
          <div *ngIf="f['nom'].invalid && (f['nom'].dirty || f['nom'].touched)" class="alert alert-danger">
            <span *ngIf="f['nom'].errors.required">Le  nom obligatoire est obligatoire.</span>
            <span *ngIf="f['nom'].errors?.pattern">SVP, Le nom doit contenir des lettres de l'alphabet A-Z..</span>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Bank</label>
          <input type="text" class="form-control" formControlName="nomBank" name="nomBank" id="nomBank" placeholder="Banque du fournisseur">
          <div *ngIf="f['nomBank'].invalid && (f['nomBank'].dirty || f['nomBank'].touched)" class="alert alert-danger">
            <span *ngIf="f['nomBank'].errors.required">
              Banque obligatoire.
           </span>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Compte</label>
          <input type="text" class="form-control" formControlName="numeroCompte" name="numeroCompte" id="numeroCompte" placeholder="compte du fournisseur">
          <div *ngIf="f['numeroCompte'].invalid && (f['numeroCompte'].dirty || f['numeroCompte'].touched)" class="alert alert-danger">
            <span *ngIf="f['numeroCompte'].errors.required">
              Compte obligatoire.
           </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Adresse</label>
          <input type="text" class="form-control" formControlName="adresse" name="adresse" id="adresse" placeholder="Address du fournisseur">
          <div *ngIf="f['adresse'].invalid && (f['adresse'].dirty || f['adresse'].touched)" class="alert alert-danger">
            <!-- <span *ngIf="f['adresse'].errors.required">Le  nom obligatoire est obligatoire.</span> -->
            <span *ngIf="f['adresse'].errors?.pattern">SVP, L'addresse doit contenir des lettres de l'alphabet A-Z..</span>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>Fax</label>
          <input type="text" class="form-control" formControlName="fax" name="fax" id="fax" placeholder="fax du fournisseur">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Telephone</label>
          <input type="text" class="form-control" formControlName="telephone" name="telephone" id="telephone" placeholder="773459821">
          <div *ngIf="f['telephone'].invalid && (f['telephone'].dirty || f['telephone'].touched)" class="alert alert-danger">
            <span *ngIf="f['telephone'].errors.required">Le numéro de Téléphone est obligatoire.</span>
            <span *ngIf="f['telephone'].errors?.pattern">SVP, Entrez un numéro Telephone est valide et doit contenir 9 caractère..</span>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="fournisseur@gmail.com">
          <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="alert alert-danger">
            <span *ngIf="f['email'].errors?.pattern">SVP, Donnez un email valide.</span>
          </div>

        </div>

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-danger ml-1" [mat-dialog-close]>
          <i class="fa fa-close"></i> Close</button>
      </div>

    </form>
  </div>
</div>



