<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>SOUS CATEGORIE</h1>
    <form #addScategorieForm="ngForm" (ngSubmit)="onSubmit(addScategorieForm)">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="formDataScategorie.id">
      <div class="form-group">
        <label>Code </label>
        <input type="text" class="form-control" [(ngModel)]="formDataScategorie.code" name="code" id="code">
      </div>

      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control" [(ngModel)]="formDataScategorie.libelle" name="libelle"  id="libelle">
      </div>
      <!--
      <div class="form-group">
        <label>Categorie</label>
        <select class="form-control" id="categorie" name="categorie" [(ngModel)]="scat.categorie">
          <option [ngValue]="cat.id == scat.categorie?.id ? scat.categorie : cat" *ngFor="let cat of listCategories">{{cat.designation}}</option>
        </select>
      </div> -->

      <div class="form-group">
        <label>Categorie</label>
        <div class="form-group">
          <select name="categorie"
              [(ngModel)]="formDataScategorie.categorie" class="form-control">
            <option *ngFor="let cat of listCategorie" [ngValue]="cat.id == formDataScategorie.categorie?.id ? formDataScategorie.categorie : cat">{{cat.designation}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>&nbsp;
        <button type="button" class="btn btn-danger ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
      </div>
    </form>
 </div>
</div>
