<div class="container">
  <!--overview start-->
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
        <li><i class="fa fa-laptop"></i>Dashboard</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box blue-bg">
      <!--  <i class="fa fa-cloud-download"></i> -->
        <i class="fa fa-user" aria-hidden="true"></i>
        <div class="count">{{this.numberClients}}</div>
        <div class="title">Clients</div>
      </div>
      <!--/.info-box-->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box blue-bg">
      <!--  <i class="fa fa-cloud-download"></i> -->
        <i class="fa fa-user" aria-hidden="true"></i>
        <div class="count">{{this.numberVentesByDay}}</div>
        <div class="title">Vente/Jours</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box brown-bg">
        <i class="fa fa-shopping-cart"></i>
        <div class="count">{{this.sumVentes}}</div>
        <div class="title">Ventes</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box dark-bg">
        <i class="fa fa-thumbs-o-up"></i>
        <div class="count">{{this.sumCommandes}}</div>
        <div class="title">Commandes</div>
      </div>
      <!--/.info-box-->
    </div>
    <!--/.col-->
    <!--
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="info-box green-bg">
        <i class="fa fa-cubes"></i>
        <div class="count">1.426</div>
        <div class="title">Stock</div>
      </div> -->
      <!--/.info-box-->
   <!-- </div> -->
    <!--/.col-->

  </div>

  <div class="row">
    <div class="col-md-6 portlets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><strong>Diagramme en Barre</strong></h2>
          <!--
          <div class="panel-actions">
            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
          </div>-->

        </div><br><br><br>
        <div class="panel-body">
          <app-barchart></app-barchart>
        </div>
      </div>
    </div>

    <div class="col-md-6 portlets">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left">Diagramme Circulaire</div>
          <!--
          <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
          </div> -->
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="padd">
            <app-piechart></app-piechart>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

